.body-bg-profile {
    background: url(./../images/bg1.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
  .box{
    width: 750px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    color: white;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #b9b9b9;
  }

  @media (max-width: 1024.98px ) {
    .body-bg-profile {
      background: url(/static/media/bg1.8e089c11.jpg) repeat;
      background-size: contain;
      min-height: 100vh;
      width: 100% !important;
    }

    .p-100-150.respons-profile {
      padding: 100px 0px;
    }

    .box {
      width: 85%;
      padding: 15px
    }

    .respons-profile-2 {
      display: none !important;
    }

    .wi-30.br-btn {
      width: 50%
    }
  }

  @media (min-width: 1025px) {
    .respons-profile-3 {
      display: none !important;
    }
  }
  
